*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(dmc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;

    
}

.first h1{
 text-align: center;
 font-size: 30px;
 letter-spacing: 2px;
 color:black;
 padding-top: 4px;
 text-transform: uppercase;
}
.first h2{
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    color: black;
}
.nav{
    height: 10vh;width: 100%;
    background-color: azure;
    
}
.nav ul{
  display: flex;
  margin-left: 55%;
  margin-top: 1%;
    padding:1px;
    list-style: none;
}
.nav ul li a{
    margin-right:50px;
    font-size:17px;
    text-decoration:none;
    padding: 5px;
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
}
.nav ul li a:hover{
    color: yellow;
}
.intel{
    display:flex;
    margin-top: 4%;
}
.core{
    background-image:url(last.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:50vh;
    width: 50%;
    border:2px solid yellow;
    border-radius: 3px;
}
.content{
    height:50vh;
    width:50%;
    margin-left: 9%;
}
.content li{
    color: white;
    font-size: 25px;
}
.content h3{
    color: #f9004d;
    text-transform: uppercase;
    font-size: 35px;
}


.first p{

}




.second{
    background-image:url(second.jpg) ;
    background-repeat:no-repeat ;
    height: 100vh;width:100%;
    background-size:cover ;
    background-position:center ;
}
.map{
    margin-left: 25%;
}



















.second{
    height: 100vh;
    width: 100%;
    background-color: yellow;
}